@import 'reset';
@import 'variables/global';
@import 'themes/dark';
@import 'themes/light';
@import 'themes/black';

.App {
    font: var(--font-m);
    font-family: Roboto, sans-serif;
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    stroke-width: 2;
}

.content-page {
    display: flex;
}

.page-wrapper {
    width: calc(100vw - var(--sidebar-width) - 20px);
    padding: 20px;
}
