@import 'reset';
@import 'variables/global';
@import 'themes/dark';
@import 'themes/light';

.App {
    font: var(--font-m);
    font-family: Roboto, sans-serif;
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    stroke-width: 2;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}
