.main {
    color: var(--primary-color);
    background: none;
    border: 1px solid var(--primary-color);
    cursor: pointer;

    &:focus {
        outline: none;
    }

    option {
        background-color: var(--bg-color);
    }
}
