.App.black {
    --bg-color: #000;
    --inverted-bg-color: #034f6d;
    --primary-color: #fff;
    --secondary-color: rgb(255 255 255);
    --inverted-primary-color: #fdfdfd;
    --inverted-secondary-color: #e6e6e6;
    --layout-bg: #00101f;

    // redesigned
    --dark-bg-redesigned: #090f11;
    --bg-redesigned: #0c1214;
    --light-bg-redesigned: #151c1f;
    --text-redesigned: #dbdbdb;
    --hint-redesigned: #555;
    --cancel-redesigned: #d95757;
    --save-redesigned: #6cd98b;
    --icon-redesigned: #74a2b2;
    --accent-redesigned: #5ed3f3;

    // skeleton
    --skeleton-color: #002446;
    --skeleton-shadow: #2b2be8;

    // code
    --code-bg: #1212a1;

    // card
    --card-bg: #002446;

    // --card-bg: rgb(39 104 243);

    // listbox
    --listbox-bg: #0d0d6b;

    // LOADER
    --loader-color: #fff;
}
