.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--layout-bg);
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000;
}

.linkWrapper {
    margin-left: auto;
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

.navBarFill {
    height: var(--navbar-height);
}
