.ArticleList {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    overflow: hidden;
}

.view {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

.SkeletonBig {
    width: 950px;
    height: 500px;
    margin: auto;
}

.SkeletonSmall {
    width: 250px;
    height: 300px;
}

.selected {
    outline: 1px solid var(--primary-color);
}
