.ArticleList {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    overflow: hidden;
}

.view {
    display: flex;
    gap: 10px;
}

.SkeletonBig {
    width: 950px;
    height: 500px;
    margin: auto;
}

.SkeletonSmall {
    width: 250px;
    height: 300px;
}

.selected {
    opacity: 0.6;
}

.topSettings {
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
}

.notSelected {
    opacity: 1;
}
