.avatarBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.avatarWrapper {
    img {
        max-width: 600px;
    }
}

.title {
    font-weight: 500;
}
