.ProfileCard {
    max-width: 100%;
    border: 1px solid var(--primary-color);
    padding: 20px;
    border-radius: 10px;
}

.avatar {
    margin: 20px;
}

.curr {
    margin-left: 10px;
}

.Loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
}
